html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body * {
	font-family: 'Roboto', Arial, sans-serif;
	color: white;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
/*Calculator container <div>*/
#calculator {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/*Solutions*/
#solutionContainer {
	width: 100%;
	height: 10%;
	background-color: #EA3C79;
}

#display {	
	height: 100%;
	width: 75%;
	text-align: right;
}

#equation {
	font-size: 1.1em;
	padding-top: 0.2em;
	text-align: right;
	color: #E0E0E0;
	float: right;
	width: 100%;
	height: 25%;
	font-weight: bold;
	padding-right: 0.3em;
	background-color: #EA3C79;
}

#solution {
	font-size: 2.2em;
	outline: none;
	text-align: right;
	float: right;
	width: 100%;
	height: 75%;
	font-weight: bold;
	padding-right: 0.3em;
	background-color: #EA3C79;
}

#backspaceButton {
	width: 25%;
	float: right;
	background-color: #D5376E;
	font-weight: bold;
	font-size: 1.5em;
}


/*Buttons*/
#buttonsContainer {
	width: 100%;
	height: 90%;
	background-color: #48544D;
}

#clear {
	width: 100%;
	height: 10%;
}

#clear > input {
	background-color: #F48942	;
}

#mainCol {
	width: 75%;
	height: 90%;
}

#mainCol > div {
	height: 20%;
}

#operatorsCol {
	width: 25%;
	height: 90%;
}

#operatorsCol > input {
	height: 20%;
	background-color: #48544D;
}

#specialOperators > input {
	background-color: #58635D;
}

.button {
	height: 100%;
	text-align: center;
	background-color: #EA1C64;
	font-size: 2em;
	outline: none;
}

.button:hover {
	background-color: #FF1744;
}


/*Grid System of 3*/
.col-1 {
	width: 33.33%;
}

.col-2 {
	width: 66.66%
}

.col {
	height: 100%;
}

.col > * {
	float: left;
}

.col > input {
	width: 100%;
	border: none;
}

.row {
	width: 100%;
}

.row > * {
	float: left;
}

.row > input {
	border: none;
}