!!!
/ TODO: Hover color change for backspace and gray buttons. Color change on click.
/ TODO: Add keyboard button support
/ TODO: Add separate css for desktop. Have a header, some info, add keywords/SEO stuff, ads on both sides
%html
  /[if lte IE 8]
    <h1>Your Browser is out of date. Please switch to a modern browser <a href="https://www.google.com/chrome/browser">here.</a><h1>
  %head
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89293172-3', 'auto');
      ga('send', 'pageview');
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "The galaxy's most beautiful, mobile-friendly online calculator.", :name => "description"}/
    %meta{:content => "noodp", :name => "robots"}/
    %meta{:content => "online calculator mobile responsive beautiful design mortgage scientific graphic free simple trig math big large financial find paycheck log plus russian hindi arabic calculo secret kalkulator advanced calc sexy pretty calculador calcl calcli caulators cute plus button internet iphone android app", :name => "keywords"}/
    %link{:href => "http://sexycalc.com", :rel => "canonical"}/
    %meta{:content => "en_US", :property => "og:locale"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Sexy Calc", :property => "og:title"}/
    %meta{:content => "The galaxy's most beautiful, mobile-friendly online calculator.", :property => "og:description"}/
    %meta{:content => "http://sexycalc.com", :property => "og:url"}/
    %meta{:content => "Sexy Calc - The galaxy's most beautiful, mobile-friendly online calculator.", :property => "og:site_name"}/
    %title
      Sexy Calc - The galaxy's most beautiful, mobile-friendly online calculator.
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster|Roboto:700", :rel => "stylesheet"}
    %link{:href => "css/sexycalc.css", :rel => "stylesheet"}
  %body
    %section.loading
      %h1.logo Sexy Calc
      .beta Beta
      .share.addthis_inline_share_toolbox
      .credits
        By
        %a.link{:target=>"_blank", :href=>"http://deepduggal.me"} Deep Duggal
    %section.calculator
      .error
      .solutionContainer
        .display
          %input.equation{:name => "equation", :type => "text", :value => "", :readonly => "readonly"}
          %input.solution{:name => "solution", :type => "text", :value => "0", :readonly => "readonly"}
        %input.backspaceButton.bttn{:name => "backspace", :type => "button", :value => "X"}
      %form.buttonsContainer
        .clearCol
          %input.bttn{:name => "clear", :type => "button", :value => "Clear"}
        .mainCol
          .mainRow.specialOperators
            %input.bttn{:name => "percent", :type => "button", :value => "%"}/
            %input.bttn{:name => "squareRoot", :type => "button", :value => "√"}/
            %input.bttn{:name => "squared", :type => "button", :value => "x²"}
          .mainRow
            %input.bttn{:name => "seven", :type => "button", :value => "7"}/
            %input.bttn{:name => "eight", :type => "button", :value => "8"}/
            %input.bttn{:name => "nine", :type => "button", :value => "9"}/
          .mainRow
            %input.bttn{:name => "four", :type => "button", :value => "4"}/
            %input.bttn{:name => "five", :type => "button", :value => "5"}/
            %input.bttn{:name => "six", :type => "button", :value => "6"}/
          .mainRow
            %input.bttn{:name => "one", :type => "button", :value => "1"}/
            %input.bttn{:name => "two", :type => "button", :value => "2"}/
            %input.bttn{:name => "three", :type => "button", :value => "3"}/
          .mainRow
            %input.bttn{:name => "zero", :type => "button", :value => "0"}/
            %input.bttn{:name => "decimalPoint", :type => "button", :value => "."}/
        .operatorsCol
          %input.bttn{:name => "divide", :type => "button", :value => "/"}
          %input.bttn{:name => "multiply", :type => "button", :value => "*"}
          %input.bttn{:name => "subtract", :type => "button", :value => "-"}
          %input.bttn{:name => "add", :type => "button", :value => "+"}
          %input.bttn{:name => "equals", :type => "button", :value => "="}
      / %form.advancedButtonsContainer
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js", :type => "text/javascript"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js", :type => "text/javascript"}
    %script{:src => "js/sexycalc-dist.js", :type => "text/javascript"}
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-587ef328a237144a", :type => "text/javascript"}